
@media (min-width: 1336px) {
    .back {
        font-size: 5em;
    }
    .list-con li {
        padding: 20px;
    }
    .info {
        padding: 13px 300px;
    }
}

@media (max-width: 1335px) {
    .back {
        font-size: 3em;
    }
    .list-con li {
        padding: 15px;
    }
    .wrap {
        width: 70%;
    }
    main {
        height: 75%;
    }
    .info {
        padding: 13px 250px;
        margin: 1rem 0;
    }
}

@media (max-width: 1024px) {
    .list-con li {
        padding: 15px;
    }
    .wrap {
        width: 100%;
    }
    main {
        height: 70%;
    }
    .info {
        padding: 13px 250px;
        margin: 0.5rem 0;
    }
}

@media (max-width:800px) {
    main {
        height: 85%;
    }
    .info {
        padding: 13px 150px;
        margin: 0.5rem 0;
    }
    .wrap {
        width: 100%;
    }
}